table {
    border-collapse: collapse; /* Это убирает двойные границы между ячейками */
}

th, td {
    border: 2px solid black; /* Задаем явные границы */
    padding: 8px; /* Добавляем отступы внутри ячеек */
    text-align: left; /* Выравнивание текста по левому краю */
}

th {
    background-color: rgb(10, 167, 10); /* Добавляем цвет фона для заголовков */
    font-weight: bold; /* Делаем заголовки жирными */
    color: rgb(213, 215, 217);
}